<div class="row">
  <div class="small-12 large-12 columns">
    <h1><%= @artist.stage_name_or_full_name %></h1>
    <div class="panel clearfix">
      <%= image_tag(@artist.portrait, class: "artist-show-image right") %>
      <p><strong>Biography:</strong> <%= @artist.biography %></p>
      <p><strong>Official Website:</strong> <%= link_to @artist.official_link, @artist.official_link %></p>
      <p><strong>Wiki:</strong> <%= link_to @artist.wiki_link, @artist.wiki_link %></p>
    </div>
    <% if current_user != nil && current_user.admin? %>
    <div class="small-12 large-12 columns">
      <%= link_to "Delete Artist", artist_path(@artist), method: :delete,
        class: "tiny button alert right right-button" %>
      <%= link_to "Edit Artist", edit_artist_path,
        class: "tiny button left left-button" %>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <h1 style="text-align: center">Connected to <%= @artist.connectedness %> artists through...</h1>
  </div>
</div>

<%= render "layouts/separator" %>

<div class="row">
  <div class="small-12 large-12 columns">
    <% if @bands.size == 1 %>
      <h1><%= @bands.size %> band</h1>
    <% else %>
      <h1><%= @bands.size %> bands</h1>
    <% end %>
  </div>
</div>

<div class="row">
  <% @bands.each do |band| %>
    <%= link_to band_path(band) do %>
      <div class="small-6 medium-3 large-3 columns">
        <p class="release-image"><%= image_tag(band.band_photo) %></p>
        <div class="panel">
          <h3><%= band.name %></h3>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= render "layouts/separator" %>

<div class="row">
  <div class="small-12 large-12 columns">
    <% if @releases.size == 1 %>
      <h1><%= @releases.size %> release</h1>
    <% else %>
      <h1><%= @releases.size %> releases</h1>
    <% end %>
  </div>
</div>

<div class="row">
  <% @releases.each do |release| %>
    <div class="release-column small-6 medium-4 large-4 columns">
      <%= link_to release_path(release) do %>
        <p class="release-image"><%= image_tag(release.release_art) %></p>
        <div class="panel">
          <h3><%= release.title %>
          <% if release.bands.count == 0 %>
            :
          <% elsif release.bands.count == 1 %>
             by <%= release.bands.first.name %>:
          <% elsif release.bands.count == 2 %>
            <%= release.bands.first.name %> &amp; <%= release.bands.last.name %>:
          <% else %>
            Various Artists:
          <% end %>
          <%= release.year_released %></h3>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
