<div class="row">
  <div class="small-12 large-12 columns">
    <h1>Add a band</h1>
      <%= form_for @band do |f| %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.label :biography %>
          <%= f.text_area :biography %>
        </div>

        <div class="field">
          <%= f.label :official_link %>
          <%= f.url_field :official_link, value: "http://" %>
        </div>

        <div class="field">
          <%= f.label :wiki_link %>
          <%= f.url_field :wiki_link, value: "http://" %>
        </div>

        <div class="field">
          <%= f.label :band_photo %>
          <%= f.file_field :band_photo %>
        </div>

        <div class="field">
          <%= f.label :private %>
          <%= f.check_box :private? %>
        </div>

        <div class="actions">
          <%= f.submit "Add Band", class: "tiny button radius" %>
        </div>
      <% end %>
  </div>
</div>
