<div class="row">
  <div class="small-4 large-12 columns">
    <h1><%= @band.name %></h1>
    <div class="panel radius">
      <p><strong>Biography:</strong> <%= @band.biography %></p>
      <p><strong>Official Website:</strong> <%= link_to "#{@band.official_link.sub(/^https?\:\/\//, '').sub(/^www./,'')}", @band.official_link %></p>
      <p><strong>Wiki:</strong> <%= link_to "#{@band.wiki_link.sub(/^https?\:\/\//, '').sub(/^www./,'')}" %></p>
    </div>
    <%= link_to "Delete Band", band_path(@band), method: :delete,
      class: "tiny button alert right" %>
    <%= link_to "Edit Band", edit_band_path,
      class: "tiny button secondary left" %>
    <%= link_to "Add Album", new_band_album_path(@band),
      class: "tiny button success left" %>
  </div>
</div>
