<div class="row">
  <div class="small-12 large-12 columns">
    <%= image_tag(@band.band_photo) %>

    <h1><%= @band.name %></h1>

    <div class="panel">
      <p><strong>Biography:</strong> <%= @band.biography %></p>
      <p><strong>Official Website:</strong> <%= link_to @band.official_link, @band.official_link %></p>
      <p><strong>Wiki:</strong> <%= link_to @band.wiki_link, @band.wiki_link %></p>
    </div>

    <div class="small-12 large-12 columns">
      <%= link_to "Delete Band", band_path(@band), method: :delete,
        class: "tiny button alert right right-button" %>
      <%= link_to "Edit Band", edit_band_path,
        class: "tiny button left left-button" %>
      <%= link_to "Add Release", new_band_release_path(@band),
        class: "tiny button success left middle-button" %>
    </div>
  </div>
</div>

<%= render "layouts/separator" %>

<div class="row">
  <div class="small-12 large-12 columns">
    <h1>Releases (<%= @releases.size %>)</h1>
  </div>
</div>

<div class="row">
  <% @releases.each do |release| %>
    <div class="release-column small-6 medium-4 large-4 columns">
      <%= link_to release_path(release) do %>
        <p class="release-image"><%= image_tag(release.release_art) %></p>
        <div class="panel">
          <h3 style="margin-bottom: 10px"><%= release.title %>: <%= release.year_released %></h3>
          <% @num = 1 %>
          <% release.track_list.split("\r\n").each do |track| %>
            <%= "#{@num}. #{track} " %>
            <% @num += 1 %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
