<div class="small-12 large-12 columns splash">
  <p class="splash-text splash-title">Bandtree</p>
  <div class="small-12 large-12 columns">
    <p class="splash-text splash-intro">The tree is always growing. It has <%= Band.all.count %> <%= link_to "bands", bands_path %>, <%= Release.all.count %> <%= link_to "releases", releases_path %>, and <%= Artist.all.count %> <%= link_to "artists", artists_path %>.</br >
    Explore the tree by clicking one of the categories above.</p>
  </div>
</div>
<div class="small-12 large-12 columns">
  <h1>How it works</h1>
</div>
<div class="small-12 large-6 columns">
  <p>Add a band.</p>
</div>
<div class="small-12 large-6 columns">
  <p>Add a release.</p>
</div>
<div class="small-12 large-6 columns">
  <p>Add an artist.</p>
</div>
<div class="small-12 large-6 columns">
  <p>Link the artist to the release.</p>
</div>
<div class="small-12 large-12 columns">
  <h3>First-hand information is Bandtree's water and sunlight. Accurate, exact details are of the utmost importance, so contributors need to have a physical copy of an album's liner notes to contribute.</h3>
</div>
