<div class="splash">
  <p class="splash-title">Bandtree</p>
  <p class="splash-text">The tree is always growing.</p>
  <p class="splash-text">The tree has <%= Band.all.count %> <%= link_to "bands", bands_path %>, <%= Release.all.count %> <%= link_to "releases", releases_path %>, and <%= Artist.all.count %> <%= link_to "artists", artists_path %>.</p>
  <p class="splash-text">Explore and help grow the tree by clicking one of the categories above.</p>
</div>
