<div class="small-12 large-12 columns splash">
  <p class="splash-text splash-title">Bandtree</p>
  <div class="small-12 large-12 columns">
    <p class="splash-text splash-intro">The tree is always growing. It has <%= @bands %> <%= link_to "bands", bands_path %>, <%= @releases %> <%= link_to "releases", releases_path %>, and <%= @artists %> <%= link_to "artists", artists_path %>.<br />
    The most recent additions are <%= link_to @most_recent_band.name, band_path(@most_recent_band.id) %>, <%= link_to @most_recent_release.title, release_path(@most_recent_release.id) %>, and <%= link_to @most_recent_artist.full_name, artist_path(@most_recent_artist.id) %>.<br />
    Click above to begin exploring the tree!</p>
  </div>
</div>
<div class="small-12 large-12 columns splash-instructions">
  <h1>How it works</h1>
</div>
<div class="small-12 large-4 columns splash-instructions">
  <h3>1. Add a band.</h3>
  <%= fa_icon "users" %>
</div>
<div class="small-12 large-4 columns splash-instructions">
  <%= fa_icon "cog spin" %>
</div>
<div class="small-12 large-4 columns splash-instructions">
  <h3>2. Add a release.</h3>
  <%= fa_icon "music" %>
</div>
<div class="small-12 large-4 columns splash-instructions">
  <h3>3. Add an artist.</h3>
  <%= fa_icon "user" %>
</div>
<div class="small-12 large-4 columns splash-instructions">
  <h3>4. Link the artist to the release and the band.</h3>
  <%= fa_icon "retweet" %>
</div>
<div class="small-12 large-4 columns splash-instructions">
  <h3>5. Rock on.</h3>
  <%= fa_icon "volume-up" %>
</div>
<div class="small-12 large-12 columns splash-instructions">
  <h2>First-hand information is Bandtree's water and sunlight. Accurate, exact details are of the utmost importance, so contributors need to have a physical copy of an album's liner notes to tend to the tree.</h2>
</div>
