  <header>
  <h1>Bandtree</h1>
  <p>The tree is always growing.</p>
  <p>The tree has <%= Band.all.count %> <%= link_to "bands", bands_path %>, <%= Release.all.count %> <%= link_to "releases" %>, and # <%= link_to "artists" %>.</p>
  <p>Explore and help grow the tree by clicking one of the categories above.</p>
</header>
