<div class="small-12 large-12 columns splash">
  <p class="splash-title">Bandtree</p>
  <div class="small-12 large-12 columns">
    <p class="splash-text splash-intro">The tree is always growing. It has <%= Band.all.count %> <%= link_to "bands", bands_path %>, <%= Release.all.count %> <%= link_to "releases", releases_path %>, and <%= Artist.all.count %> <%= link_to "artists", artists_path %>.</br >
    Explore the tree by clicking one of the categories above.</p>
  </div>
  <div class="small-12 large-12 columns">
    <h1 class="splash-text splash-instructions">How it works</h1>
    </br >
    </br >
    </br >
    </br >
    </br >
    </br >
    </br >
    </br >
  </div>
</div>
