<div class="row">
  <div class="small-12 large-12 columns">
    <h1>Add a release</h1>
      <%= form_for [@band, @release] do |f| %>
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label :track_list %>
          <%= f.text_area :track_list %>
        </div>

        <div class="field">
          <%= f.label :year_released %>
          <%= f.select :year_released, (1900)..(Time.zone.now.year) %>
        </div>

        <div class="field">
          <%= f.label :record_label %>
          <%= f.text_field :record_label %>
        </div>

        <div class="field">
          <%= f.label :record_label_url %>
          <%= f.url_field :record_label_url, value: "http://" %>
        </div>

        <div class="field">
          <%= f.label :catalog_number %>
          <%= f.text_field :catalog_number %>
        </div>

        <div class="field">
          <%= f.label :wiki_link %>
          <%= f.url_field :wiki_link, value: "http://" %>
        </div>

        <div class="field">
          <%= f.label :release_type, "Format" %>
          <%= f.radio_button :release_type, "CD", checked: true %>
          <%= f.label :release_type_cd, "CD" %>
          <%= f.radio_button :release_type, "Record" %>
          <%= f.label :release_type_record, "Record" %>
        </div>

        <div class="field">
          <%= f.label :release_length, "Length" %>
          <%= f.radio_button :release_length, "LP", checked: true %>
          <%= f.label :release_length_lp, "LP" %>
          <%= f.radio_button :release_length, "EP" %>
          <%= f.label :release_length_ep, "EP" %>
          <%= f.radio_button :release_length, "CD single" %>
          <%= f.label :release_length_cd_single, "CD single" %>
          <%= f.radio_button :release_length, "12 inch single" %>
          <%= f.label :release_length_12_inch_single, "12-inch single" %>
          <%= f.radio_button :release_length, "7 inch single" %>
          <%= f.label :release_length_7_inch_single, "7-inch single" %>
        </div>

        <div class="field">
          <%= f.label :release_art %>
          <%= f.file_field :release_art %>
        </div>

        <div class="field">
          <%= f.label :private %>
          <%= f.check_box :private? %>
        </div>

        <div class="actions">
          <%= f.submit "Add Release", class: "tiny button radius" %>
        </div>
      <% end %>
  </div>
</div>
