<div class="row">
  <div class="small-12 large-12 columns">
    <% if @bands.count > 2 %>
      <h1>Various Artists</h1>
    <% elsif @bands.count == 1 %>
      <h1><%= link_to @bands[0].name, band_path(@bands[0]) %></h1>
    <% else %>
      <h1><%= link_to @bands[0].name, band_path(@bands[0]) %>, <%= link_to @bands[1].name, band_path(@bands[1]) %></h1>
    <% end %>

    <div class="small-12 medium-6 large-6 columns right release-image-show">
      <%= image_tag(@release.release_art) %>
    </div>

    <div class="small-12 medium-6 large-6 columns panel left release-panel">
      <h2><%= @release.title %>
      <% if @spotify %>
        <%= link_to @spotify, class: "spotify", target: "_blank" do%>
          <%= fa_icon "spotify" %>
        <% end %>
      <% end %>
      </h2>
      <% @num = 1 %>
      <% @release.track_list.split("\r\n").each do |track| %>
        <%= @num %>. <%= track.html_safe %></br>
        <% @num += 1 %>
      <% end %>
      </br>
      <strong>Year:</strong> <%= @release.year_released %></br>
      <strong>Record Label:</strong>
        <%= link_to @release.record_label,
        @release.record_label_url %></br>
      <strong>Catalog Number:</strong>
        <%= @release.catalog_number %></br>
      <strong>Wiki:</strong>
        <% if @release.wiki_link %>
          <%= link_to @release.wiki_link.split("https://en.wikipedia.org/wiki/")[1], @release.wiki_link %></br>
        <% end %>
      <strong>Type:</strong> <%= @release.release_type %></br>
      <strong>Length:</strong> <%= @release.release_length %></br>
    </div>

  </div>
</div>

<% if current_user != nil && current_user.admin? %>
<div class="row">
  <div class="small-12 medium-6 large-6 columns left">
    <%= link_to "Delete Release", release_path(@release), method:
      :delete, class: "tiny button alert right right-button-release-show"%>
    <%= link_to "Edit Release", edit_release_path(@release), class:
      "tiny button left left-button-release-show" %>
  </div>
</div>

<%= render "layouts/separator" %>

<div class="row">
  <div class="small-12 large-12 columns">
    <%= render "link_artist" %>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <%= render "unlink_artist" %>
  </div>
</div>
<% end %>

<%= render "layouts/separator" %>

<div class="row">
  <div class="small-12 large-12 columns">
    <h1><%= @artists.size %> artists involved</h1>
  </div>
</div>

<div class="row">
  <% @artists.each do |artist| %>
    <div class="artist-column small-6 medium-3 large-3 columns">
      <%= link_to artist_path(artist) do %>
        <%= image_tag(artist.portrait, class: "artist-image") %>
        <div class="panel">
          <h3><%= artist.stage_name_or_full_name %></h3>
        </div>
        <% end %>
      </div>
  <% end %>
</div>
